body {
    font-family: Montserrat,sans-serif;
}

p {
    background-color: blue;
    color: white;
}

#title{
    font-size: 15px;
}

#user{
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
